body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: rgb(212, 188, 188);
    padding: 20px;
    border:#c5c8d5;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}