body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: rgb(170, 80, 80);
    padding: 20px;
    border:#b9bdce;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}